<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}" %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= @contacts.model.human_attribute_name("name") %></th>
      <th><%= @contacts.model.human_attribute_name("email") %></th>
      <th><%= @contacts.model.human_attribute_name("kind") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.kind.description %></td>
        <td>
          <%= link_to t('buttons.edit'), edit_contact_path(contact), class: "btn btn-xs btn-info" %>
          <%= link_to t('buttons.destroy'), contact, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: t('messages.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= paginate @contacts %>
</div>

<br>

<%= link_to t('buttons.new'), new_contact_path, class: "btn btn-primary" %>
<%= link_to t('buttons.back'), root_path, class: "btn btn-warning" %>
